<h1>{{title}}</h1>
<p>Bienvenido a {{title}}</p>

<h2>Restaurante Camaxtly</h2>

<h3>Funciones</h3>
<p>Se espera que la aplicacion movil de Restaurante Camaxtly sea capaz de: </p>
<ul>
<li>Ver un menu en linea</li>
<li>Poder realizar un pedido</li>
<li>Hacer una reservacion</li>
</ul>